<h1>Sign up here:</h1>

<style>
    h5{
        color: red;
    }
</style>

{%for message in messages%}:
<h5>{{message}}</h5>
{%endfor%}

<form method="POST" action="register">
{% csrf_token %}
<label for="email">Email</label>
<br>
<input type="email" name="Email"/>
<br>

<label for="Username">Username</label>
<br>
<input type="text" name="Username"/>
<br>

<label for="Password">Password</label>
<br>
<input type="password" name="Password"/>
<br>

<label for="Password2">Re-enter Password</label>
<br>
<input type="password" name="Password2"/>
<br>
<input type="submit"/>


</form>
